* {box-sizing:border-box}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.left-side {
  display: flex;
}

.nav-link-wrapper {
  margin-right: 1em;
  text-transform: uppercase;
  height: 1em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid #000;
}

/*.nav-link-wrapper a:hover {
  color: #000;
} */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 370px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.logo-wrapper img {
  width: 55%;
  border-radius: 5px;
}

.img-text-wrapper .subtitle {
  margin: 1em;
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 650px) {
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 2em;
}

h1 {
  color: lightseagreen;
}



